*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0.01em;
}
a {
    text-decoration: none;
    color: #000;
}

main {
}

.main__img {
    margin-top: 180px;
    width: 100%;
}

.main__discription {
    margin-top: 100px;
    margin-bottom: 100px;
    font-weight: 300;
    font-size: 22px;
    display: flex;
    justify-content: right;  
}

.main-discription__wrapper {
    max-width: 600px;
    margin-right: 160px;
}

.main-discription__wrapper2 {
    max-width: 690px;
    margin-right: 80px;
}

.main-discription__wrapper div {
    margin-bottom: 20px;
}

.main-discription__wrapper div span{
    font-weight: 600;
    font-size: 22px;
}

.main-discription__wrapper div:last-child {
    margin-bottom: 0px;
}

.main__img, .main__img2 {
    width: 100%;
}

.main__img img, .main__img2 img{
    width: 100%;
}

.main__big-title {
    color: #000F9F;
    font-weight: 300;
    font-size: 50px;
    max-width: 965px;
    margin-bottom: 100px;
}

.footer {
    margin-top: 100px;
}