*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0.01em;
}
a {
    text-decoration: none;
    color: #000;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden !important;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

/*@media(max-width: 1200px) {
    .main-slider__column {
        width: calc();
    }
}*/

.block__title {
    font-weight: 500;
    font-size: 50px;
}

.header__wrapper {
    position: fixed;
    top: 0;
    width: 100vw;
    padding: 27px;
    background-color: #FFCB00;
    z-index: 90000;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header__left-block {
    display: flex;
    align-items: flex-end;
    grid-column-gap: 14px;
}

.header__logo {
    display: flex;
}


.header__logo-pucture img {
    width: 55.27px;
    height: 39.98px;
    margin-bottom: -4px;

}
.header__logo-title {
    display: flex;
}

.header__logo-title__letter img {
    height: 22.5px;
}

.header__logo-tel {
    margin-top: 8px;
    margin-left: calc(55.27px + 14px);
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
}

.header__nav {
    display: flex;
}

.header-nav__column {
    padding: 0px 11px
}

.header-nav__column:last-child {
    padding: 0px 0px 0px 11px;
}

.header-nav__item {
    font-size: 16px;
    font-weight: 300;
}

/*____________________________________*/

.main__wrapper{
    width: 100vw;
    padding-top: 236px;
    padding-bottom: 180px;
    background-color: #FFCB00;
}

.mainblock__title-block {
    font-size: 100px;
    font-weight: 300;
}

.mainblock__title-block span img {
    height: 88px;
}

.mainblock__title-block div a {
    padding: 24px 238px;
    font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
    border: 3px solid #fff;
    border-radius: 100px;
    color: #FFFFFF;
}

.mainblock__title-block .last-line {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.main__advantage {
    display: flex;
    justify-content: space-between;
    margin-top: 84px;
}

.main-advantage__left-column {
    display: flex;
    grid-column-gap: 125px;
}

.main-advantage__item {
    display: flex;
    align-items: center;
    grid-column-gap: 28px;

}

.main-advantage__item__text {
    font-size: 30px;
    
}

.main-advantage-right__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: right;
}

.main-advantage-right {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: -50%;
}

.main-slider {
    position: relative;
    margin-top: 80px;
    padding-bottom: 65px;
    text-align: center;
    overflow: hidden;
}

.main-slider__wrapper{
    transition: 0.7s ease;
    position: relative;
    z-index: 50;
}

.main-slider__items {
    display: flex;
    align-items: flex-end;
    
}

.main-slider__column {
    width: 100vw;
    text-align: center;
}

.main-slider__item {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.main-slider__item._item-1 img {
    max-width: 1822px;
}
.main-slider__item._item-2 img {
    max-width: 1267px;
}
.main-slider__item._item-3 img {
    max-width: 1368px;
}

/*@media(max-width: 1401px) {
    .main-slider__item img{
        scale: 0.767;
    }
    
}*/


.main-slidercontrol__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 61px;
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 45px;
    bottom: 0;
}

.main-slidercontrol_prev {
    opacity: 0;
}

.main-slidercontrol{
    transition: 0.7s ease;
    z-index: 100;
}



.main-slider__background__wrapper {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: flex-end;
    top: 50%;  
    left: calc(50% + 10px);
    transform: translate(-50%, -50%);
}


/*________________________*/

.delivery {
    margin-top: 250px;
    margin-bottom: 193px;
}

.delivery__map {
    margin-top: 40px;
    width: 100vw;
}

.delivery__map img {
    width: 100%;
}

.delivery-availability__title {
    font-weight: 600;
    font-size: 22px;
    margin: 55px 0px 0px 45px;
}

.delivery-availability__content {
    margin-top: 26px;
}

.delivery-availability__column:first-child {
    display: flex;  
    align-items: flex-start;
    grid-column-gap: 20px;
}

.delivery-availability__column:last-child {
    display: flex;  
    align-items: center;
    grid-column-gap: 20px;
    margin-top: 10px;
}

.delivery-availability__column:first-child .delivery-availability__point-wrapper {
    padding: 4px 0px;
}

.delivery-availability__point {
    width: 25px;
    height: 25px;
}

.delivery-availability__text {
    font-weight: 300;
    font-size: 22px;
    font-weight: 300;
}

/*___________________________*/

.technic {
    margin-top: 57px;
    overflow: hidden;
}

.technic__line {
    position: relative;
    border-radius: 20px;
    width: 100%;
    height: 5px;
    background-color: #FFCB00;
    z-index: 51;
}

.technic__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0px;
    margin-bottom: 50px;
    background-color: #fff;
    z-index: 50;

}

.technic__header .block__title {
    padding-left: 88px;
}
.technic__close, .technic__open{
    padding-right: 14px;
    display: none;
}

.technic__close img, .technic__open img {
    width: 63.9px;
    height: 63.9px;
}

.technic__close._active, .technic__open._active {
    display: block;
}

.technic__content {
    /*transition: 0.3s ease;
    transform: translateY(-150%);*/
    display: none;
}


.technic__content._active {
    /*transform: translateY(0);*/
    display: block;
}

.technic-loaders__open._active {
    display: block;
}

.technic__column {
    margin-bottom: 20px;
}

.technic__item {
    display: flex;
    justify-content: space-between;
}

.technic-loaders__item {
    align-items: flex-start;
}

.technic-excavators__item {
    align-items: flex-end;
}

.technic__title {
    position: relative;
    font-weight: 700;
    font-size: 60px;
    color: #FFCB00;
    padding-left: 88px;
    margin-bottom: 30px;
    z-index: 20;
}

.technic__picture {
    position: relative;
    display: flex;
    /*justify-content: flex-end;*/
    top: 35px;
    min-height: 100%;
}

.technic-picture__wrapper{
    /*position: absolute;*/
    right: 0;
    height: 100%;
}

.technic__specifications{
    position: relative;
    z-index: 30;
}

.technic-specification__item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.technic-specification__text {
    padding-left: 44px;
    font-weight: 300;
    font-size: 22px;
}
.technic-specification__text span {
    font-weight: 600;
}

.technic-specification__pdf {
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    color: #6C6A6A;
    padding-left: 88px;
}

.technic__ruler {
    width: 100%;
    margin-top: 20px;
}
.technic__ruler img {width: 100%;}

/*_______________________*/

.equipment-block {
    margin-top: 50px;
    background-color: #EDEDED;
    position: relative;
}

.equipment-block .container {
    position: relative;
}

.equipment-block__background {
    position: absolute;
    top: 0;
    right: 0;

}

.equipment-block__background.background-excavators {
    right: 310px;
}

.equipment-block__background-fork {
    right: -75px;
}

.equipment-block__wrapper {
    padding: 177px 0px 45px 0px;
    position: relative;
}

.equipment-block__wrapper div:not(:last-child){
    position: relative;
    z-index: 50;
}

.equipment-block__description {
    max-width: 710px;
    font-weight: 300;
    font-size: 22px;
    margin-top: 71px;
}

.equipment-block__description-fork {
    max-width: 687px;
}

.equipment__kinds {
    margin-top: 116px;
    display: flex;
    flex-wrap: wrap;
}

.equipment__column {
    padding: 0px 15px;
    flex: 25% 0 0;
    margin-bottom: 50px;
}

.equipment__column-excavators {
    flex: 20% 0 0;
}

.equipment__item {
    width: 100%;
}

.equipment__column:first-child {
    padding: 0px 15px 0px 0px;
}

.equipment__column:nth-child(4) {
    padding: 0px 0px 0px 15px;
}

.equipment__column-excavators:nth-child(4) {
    padding: 0px 15px;
}
.equipment__column-excavators:nth-child(5) {
    padding: 0px 0px 0px 15px;
}

.equipment__title {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
}

.equipment__picture img {
    border-radius: 6px;
    width: 100%;
    /*height: 149px;*/
}

.equipment__description {
    font-weight: 300;
    font-size: 14px;
    margin-top: 20px;
}

/*______________________*/

.advantages {
    display: flex;
    align-items: top;
    justify-content: right;
    position: relative;
    margin-top: 310px;
}

.container-advantages {
    position: relative;
    z-index: 50;
}

.advantages__background {
    height: calc(100% + 150px);
    position: absolute;
    right: 0;
    top: -25px;
}

.advantages__background  img{
    height: 100%;
}

.advantages__wrapper {
    margin-top: 100px;
}

.advantages-cost__wrapper {
    display: flex;
    justify-content: space-between;
}

.advantage__column {
    display: flex;
    justify-content: right;
}

.advantage__item {
    max-width: 757px;
}

.advantage__title {
    font-weight: 300;
    font-size: 100px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.advantage__picture {
    margin: 50px 0px;
}

.advantage__discription {
    font-weight: 300;
    font-size: 22px;
}

/*______________________*/

.slider {
    margin-top: 275px;

}

.slidercontrol__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 9px;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    z-index: 50;
}

.sliderpoints__wrapper {
    position: absolute;
    bottom: 0;
    display: flex;
    grid-column-gap: 25px;
    justify-content: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 28px;
    z-index: 50
}

.sliderpoint._active > svg > path {
    fill:#FFCB00
}

.slider__wrapper {
    transition: 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-gap: 108px;
    
}

@media(max-width: 1400px) {
    .slider__wrapper {
        overflow: hidden;
    }
}

.slider__column img {
    transition: 0.7s ease;
    height: 608px;
}

.slider__column._active img{
    height: 684px;
}

.slider__item{
    height: 100%;
    overflow: hidden;
}

/*______________________*/

.footer {
    margin-top: 250px;
    background-color: #FFCB00;
    position: relative;
}

.footer__contacts {
    padding-top: 160px;
}

.footer__contacts__title {
    font-weight: 600;
    font-size: 22px;
}

.footer__copyright {
    padding: 74px 0px;
    text-align: center;
    margin-top: 25px;
}

.footer__contacts__adress {
    font-weight: 300;
    font-size: 22px;
    margin: 3px 0px 40px 0px;
}

.footer__contacts__tel, .footer__contacts__email {
    font-weight: 500;
font-size: 30px;
}

.footer__contacts__icons {
    display: flex;
    grid-column-gap: 20px;
    margin-top: 40px;
}

.footer__contacts__links {
    margin-top: 40px;
    font-weight: 300;
    font-size: 16px;
}

.footer__contacts__links-politics {
    margin-bottom: 5px;
}

.footer__map {
    position: absolute;
    right: 0;
    top: 0;
}

.footer__map img {
    width: 59vw;
}

/*_____________________*/

.model__popup {
    transition: 0.7s ease;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 500000;
    top: 0px;
    overflow: hidden;
    transform: translateY(0%);
    background-color: #00000077;

}

.model__popup._no-active {
    opacity: 0;
    transform: translateY(-100%);
}

.model-popup__content {
    position: relative;
    margin: 0 auto;
    max-width: 1400px;
    height: 900px;
    background-color: #fff;
    padding: 91px 59px 72px 100px;
    display: flex;
    justify-content: space-between;
}

.model-popup__close {
    position: absolute;
    top: 50px;
    right: 50px;
}
.model-popup__title {
    font-weight: 500;
    font-size: 30px;
    color: #FFCB00;
    text-transform: uppercase;
}
